<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.hi.community.dao.CommentDAO">

    <select id="CommentDAO" resultType="CommentVO">
        SELECT * FROM comment
        WHERE co_po_num = #{po_num} 
          AND co_del = 'N'
        ORDER BY co_ori_num DESC, co_num ASC
        
        LIMIT #{cri.pageStart}, #{cri.perPageNum}
    </select>

    <select id="selectTotalCount" resultType="int">
        SELECT COUNT(*) 
        FROM comment
        WHERE co_po_num = #{po_num} 
          AND co_del = 'N'  </select>

</mapper>